html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* editando o layout da da tela */
body{
    background-color:#1E2025;
    align-items: center;
    /*background: linear-gradient(320deg,#1f191b,#dfd1dd,#63c9b4);*/
    display: flex;
    font-family: 'Dosis',sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

/* editando o layout da calculadora*/
.caixa{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.30);
    border: 1px solid rgba(255,255,255,0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

/* editando o painel da calculadora*/
.tela{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.01);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 320px;
}

/* editando todos os botoes da calculadora*/
.calc-botoes-linha{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

/* editando todos os botoes da calculadora*/
.calc-botoes{
    backdrop-filter:  blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 20px;
    height: 66px;
}

/* altera somente os ultimos botoes  */
.calc-botoes:last-child{
    backdrop-filter:  blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #fff;
    background: #d72880;
}

/* adicionando uma cor quando o mouse passa por ele  */
.calc-botoes:last-child:hover{
    background-color:  #ce2077;
    color: #fff;
}

/* adicionando uma cor quando clicar nos botoes ele pisca uma cor diferente */
.calc-botoes:last-child:active{
    background-color: #8d0348;
    color: #fff;
}

/* adicionando uma cor quando o mouse passa por ele  */
.calc-botoes:hover{
    background-color: #f5eba9;
}

/* adicionando uma cor quando clicar nos botoes ele pisca uma cor diferente */
.calc-botoes:active{
    background-color: #ffef78;
}
/* aumentando o tamanho do botao 'C' */
.double{
    flex-basis: 41%;
}

/* aumentando o tamanho do botao Zero '0' */
.triple{
    flex-basis: 73%;
}

/* adicionando um footer - 

.footerCopyright{
display: grid;
justify-content: center;
background-color: #000000;
font-size: 0.9rem;
padding: 1.5rem;
}
.footerCopyright p{
    color:#ce2077;
}*/
